import 'package:pb_dtos/pb/dto/dto.dart';
import 'package:pb_dtos/pb/dto/dto_field.dart';
import '{{collection.name}}_dto.dart';
{{#imports}}
    import '{{import}}_dto_field_select.dart';
{{/imports}}
{{#has_relations}}
    import '{{collection.name}}_dto_expand.dart';
{{/has_relations}}

class {{class_name}}FieldSelect<D extends Dto<D>> extends DtoFieldSelectBase<{{class_name}}> {
    {{class_name}}FieldSelect(): super();

    {{class_name}}FieldSelect.nested(super.$parts, super.$fieldChain): super.nested();

    {{#fields}}{{#is_field_modifiable}}
        ModifiableStringField get {{snake_name}} => $addModifiableField({{class_name}}FieldEnum.{{enum_name}});
    {{/is_field_modifiable}}{{^is_field_modifiable}}
        void {{snake_name}}() => $addField({{class_name}}FieldEnum.{{enum_name}});
    {{/is_field_modifiable}}{{/fields}}

    {{class_name}}ExpandDtoFieldSelect<{{class_name}}> get expand =>
        $addExpand<{{class_name}}, {{class_name}}ExpandDtoFieldSelect<{{class_name}}>>({{class_name}}ExpandDtoFieldSelect.new);
}

class {{class_name}}ExpandDtoFieldSelect<D extends Dto<D>> extends DtoFieldSelectBase<{{class_name}}> {
    {{class_name}}ExpandDtoFieldSelect(super.$parts, super.$fieldChain): super.nested();
        {{#fields}}{{#is_relation}}
            {{relation_class_name}}FieldSelect<{{class_name}}> get {{snake_name}} =>
            $addRelation({{relation_class_name}}FieldSelect.nested, {{class_name}}FieldEnum.{{enum_name}});
        {{/is_relation}}{{/fields}}
        {{#back_relations}}
            {{solo_type}}FieldSelect<{{class_name}}> get {{snake_name}} =>
            $addRelation({{solo_type}}FieldSelect.nested, {{dto_expand_class_name}}Enum.{{snake_name}});
        {{/back_relations}}
}