import 'package:pb_dtos/pb/dto/dto.dart';
import 'package:pb_dtos/pb/dto/dto_sort.dart';
import '{{collection.name}}_dto.dart';
{{#imports}}
    import '{{import}}_dto_sort.dart';
{{/imports}}
{{#has_relations}}
import '{{collection.name}}_dto_expand.dart';
{{/has_relations}}

class {{class_name}}Sort<D extends Dto<D>> extends DtoSort<D, {{class_name}}> {
    {{class_name}}Sort(): super.root();

    {{class_name}}Sort.from(super.delegate);

    {{#fields}}{{#is_relation}}
    {{relation_class_name}}Sort<{{class_name}}> {{snake_name}}({bool desc = false}) =>
        {{relation_class_name}}Sort.from(addRelation({{class_name}}FieldEnum.{{enum_name}}, desc));
    {{/is_relation}}{{^is_relation}}
    void {{snake_name}}({bool desc = false}) => addField({{class_name}}FieldEnum.{{enum_name}}, desc);
    {{/is_relation}}{{/fields}}

    {{#back_relations}}
    {{solo_type}}Sort<{{class_name}}> {{snake_name}}({bool desc = false}) =>
        {{solo_type}}Sort.from(addRelation({{dto_expand_class_name}}Enum.{{snake_name}}, desc));
    {{/back_relations}}
}
